.header-image{
  background-position: center;
  background-size: contain;
}

.moreInfo{
  display: flex;
  width: 100%;
  flex-direction: column;

  p{
    padding: 0;
    margin: 0;
    margin-bottom: .4em;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.54);
    padding-left: 0.5em;
  }
}

.comments {
  display: flex;
  align-items: center;
  flex-direction: column;
}