
.repository-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h1{
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
  }

  form{
    text-align: center;
    flex-flow: column;
    width: 50%;
  }

  .repository-form-input{
    width: 100%;
  }

  .repository-form-submit{
    width: 100%
  }

  .gettingIssuesSpinner{

  }
}
